@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #29265c;
  --color-primary-light: #b65f54;
  --color-text: #e7e9db;
  --color-text-dark: #adb5bd;
  --color-background-100: #263536;
  --color-background-500: #162527;
  --color-background-900: #0e1e20;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.box::-webkit-scrollbar,
.list::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: normal;
  color: var(--color-text);
  background-color: var(--color-background-900);
  padding: 1rem;
}

/* ******* */

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
}
.nav-bar .logo span {
  margin-top: -9px;
}
.nav-bar .logo h1 {
  font-family: "Lato", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.main {
  margin-top: 2.4rem;
  height: calc(100vh - 7.2rem - 3 * 2.4rem);
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  /* width: 42rem; */
  /* max-width: 0rem; */
  width: 80rem;
  /* max-width: 80rem; */

  /* width: 130rem; */
  /* max-width: 100%; */
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  overflow: scroll;
  position: relative;
  scrollbar-color: red yellow !important;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin: 4.8rem;
}

.error {
  text-align: center;
  font-size: 2rem;
  padding: 4.8rem;
}

/* ******* */

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo span {
  font-size: 3.2rem;
}

.logo h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
}

.search {
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;

  color: var(--color-text);
  background-color: var(--color-background-900);
  /* background-color: var(--color-primary-light); */
}

.search::placeholder {
  color: var(--color-text-dark);
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.num-results {
  justify-self: end;
  font-size: 1.8rem;
}

.btn-toggle {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  height: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background-900);
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}

.list {
  list-style: none;
  padding: 0.8rem 0;
  overflow: scroll;
}

.list-watched {
  height: calc(100% - 9rem);
}

.list li {
  position: relative;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: auto auto;
  /* column-gap: rem; */
  font-size: 1.6rem;
  align-items: center;

  /* padding: 1.6rem 3.2rem; */
  border-bottom: 1px solid var(--color-background-100);
}

.list.list-movies li {
  cursor: pointer;
  transition: all 0.3s;
  min-height: 10rem;

  max-height: 19rem;

  overflow: hidden;
}

.list.list-movies li:hover {
  background-color: var(--color-background-100);
}
.list li > div {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 3.2rem;
  justify-content: start;
  align-items: flex-start;
}
.list li div h3,
.details-overview h2 {
  font-weight: 800;
}
.list img {
  width: 90%;
  grid-row: 1 / -1;
}

.list h3 {
  font-size: 2.8rem;
}

.list div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.list p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 2rem;
}

.btn-delete {
  position: absolute;
  right: 1.8rem;

  height: 1.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-red);
  color: var(--color-background-900);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-delete:hover {
  background-color: var(--color-red-dark);
}

/* ******* */

.summary {
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  border-radius: 0.9rem;
  background-color: var(--color-background-100);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  width: 100%;
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.summary div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ******* */

.details {
  line-height: 1.4;
  font-size: 1.4rem;
}

.details header {
  display: flex;
}

.details section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.details img {
  width: 33%;
}

.details-overview {
  width: 100%;

  background-color: var(--color-background-100);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details-overview div {
  padding: 2.4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details-overview h2 {
  padding: 1rem;
  font-size: 4rem;
  margin-bottom: 0.4rem;
  line-height: 1.1;
  background-color: var(--color-background-500);
  width: 100%;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-overview p {
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  gap: 0.8rem;
}

.rating {
  background-color: var(--color-background-100);
  border-radius: 0.9rem;
  padding: 2rem 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btn-add {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-add:hover {
  background-color: var(--color-primary-light);
}

.seconds {
  background-color: var(--color-background-100);
  width: 8rem;
  border-radius: 10rem;
  font-weight: 600;
  text-align: center;
  padding: 0.4rem;
  margin-top: 2.4rem;
}

.btn-back {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  height: 3.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  /* background-color: var(--color-text); */
  background-color: #fff;
  color: var(--color-background-500);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  /* background-color: red; */
  height: 100%;
  align-items: center;
  justify-content: center;
  /* justify-items: center; */
}
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/

.movie-more-details {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.movie-more-details p {
  font-size: 1.7rem;
}
